.img-feed {
    box-sizing: border-box;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img-feed .overlay {
    z-index: -5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    opacity: 0;
    transition: 0.2s ease-out;
}

.img-feed.img-clicked .overlay {
    z-index: 10;
    opacity: 95%;
}

/* .app-image {
    z-index: 10;
} */

@media only screen and(max-width: 600px) {
    .img-feed {
        padding: 0;
        overflow: auto;
        overflow: overlay;
    }
}